/* import the normalize stylesheet to eliminate differences between browser defaults */
@import url(../lib/normalize.css);

/* import the Google font 'Lato' */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic);

/*
    things we will practice in this example
    - element selectors
    - group selectors
    - class selectors
    - descendant selectors
    - hover and focus pseudo-selectors (for styling hyperlinks)
    - margins and padding
    - borders
*/
<<<<<<< HEAD

body{
    font-family: Lato, Helvetica , sans-serif;
    font-size: 18px;
}

h1, h2{
    font-weight: 300;
}

.subtitle{
=======
body {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 18px;
}

h1, h2 {
    font-weight: 300;
}

.subtitle {
>>>>>>> 8618b52f1f130b0f8450375e3847289e36947cea
    font-size: 200%;
    font-weight: 300;
}

<<<<<<< HEAD
.term{
    font-style: italic;
}

a{
    text-decoration: none;
}

a:hover, a:focus{
    text-decoration: underline;
}

footer{
    background-color: #333;
    color: #FFF;
    border-top-width: 5px;
    border-top-color: #FF0;
    border-top-style: solid;
    padding: 2em;
}

footer a{
    color: #DDF;
}

footer a:hover{
    color: #AAF;
}

header{
=======
.term {
    font-style: italic;
}

a {
  text-decoration: none;

}

a:hover, a:focus {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #FFF;
    padding: 1em;
    border-top-width: 5px;
    border-top-color: #F00;
    border-top-style: solid;
}

header {
>>>>>>> 8618b52f1f130b0f8450375e3847289e36947cea
    background-color: #CCC;
    padding-left: 1em;
    padding-right: 1em;
}

<<<<<<< HEAD
header h1{
    margin-top: 0;
}



=======
header h1 {
    margin-top: 0;
}

footer a {
    color: #DDF;
}

footer a:hover {
    color: #AAD;
}
>>>>>>> 8618b52f1f130b0f8450375e3847289e36947cea
