@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

body {
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

#error-message {
    display: none;
}

<<<<<<< HEAD
.fa-spin{
    display: none;
}

#tasks-list li{
    cursor: pointer;
}

.completed-task{
    color: #AAA;
    text-decoration: line-through;
}
#rating{
    color: gold;
}
=======
.fa-spin {
<<<<<<< HEAD
    /*hide spinner*/
    display: none;
}
<<<<<<< HEAD
>>>>>>> 0c8149beb4cd5e792f58e96c863714742dec592a
=======

/*make cursor a hand when it hovers over task list*/
#tasks-list li {
    cursor: pointer;
}

.completed-task {
    color: #AAA;
    text-decoration: line-through;
}

#rating {
    color: #ffd700
}
=======
    display: none;
}
>>>>>>> 0e1f3c03a332ce37c172bdee43ad742a11ba4994
>>>>>>> 8618b52f1f130b0f8450375e3847289e36947cea
